{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}



{% block layout_header%}
<div class="js-navigation-wrapper"
     data-sticky-header="true"
     data-sticky-header-options='{"showOnScrollPosition": "{{theme_config('showOnScrollPosition')}}"}'>
        <div class="text-center text-white">


                    <p class="mb-0">GRATIS VERSAND AB EINEN BESTELLWERT VON 60 €</p>


		{% endblock %}
